.container {
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    // outline:2px solid red;
    outline-offset: -2px;
 

    //  Phone screen

    @media screen and (min-width:480px){
      width: 480px;
    }


    // Tablet screen
    
    @media screen and (min-width:768px){
      width: 768px;
    }
    

    // Desktop screen

    @media screen and (min-width:1200px){
      width: 1200px;
    }

  }