.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-bg-color);
}

.footer.container {
  
  @media screen and (min-width:1200px){
    display: flex;
    align-items: baseline;}   
  }

  .footer__box {
    @media screen and (min-width:768px){
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      margin-right: auto;
  }}


  // _________CONTACTS________

.footer__contacts {
  text-align: center ;
  margin-bottom: 60px;

  @media screen and (min-width:1200px){
    text-align: left ;
    margin-right: 70px;
    margin-bottom: 0;
  }}
  
  .address__list {
    display: inline;
  }
  
  .address__map,
  .address__link {
    display: block;
    line-height: 1.71;
    font-weight: normal;
    font-style: normal;
  }
  
  .address__map{
    color: var(--primary-bg-color);
    @extend %transition;
  }
  
  .address__link {
    color: rgba(255, 255, 255, 0.6);
    @extend %transition;
  }
  
  .address__link,
  .address__map{
    &:hover,
    &:focus{
      color: var(--link-color);
    }
  }

 .address__item:not(:last-child) {
    margin-bottom: 9px;
  }


   // _________NETWORKS________

  .footer__networks{
    
  @media screen and (min-width:480px) and (max-width:768px){
  margin-bottom: 60px ;
 }
  }
    
  .networks__title{
    display: block;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #ffffff;
   
    margin-bottom: 20px;
  
  @media screen and (min-width: 1200px){
    text-align: left;
  }}
  
  
  .networks__link--bg-dark {
    background-color:rgba(255, 255, 255, 0.1) ;

    @media screen and (min-width:480px) and (max-width:768px){
      text-align: center; 
     }

     @media screen and (min-width:1200px){
      display: flex;
     }
  }

  .networks__icon--white{fill: #fff;  }
  

 // _________FORM________
  /* Підпишись  */

  .footer__text{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  
    margin-bottom: 20px;

    @media screen and (min-width:1200px){
      text-align:left;
    }
  }
  
  // _______________________
  .footer__group {
      @media screen and (min-width:1200px){
    display: flex;
    gap: 12px;
  }}

  .footer__input {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    height: 50px;
    width: 378px;
    background-color: var(--secondary-bg-color);
  
    /* outline: 1px solid transparent; */
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    padding-left: 16px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .footer__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }

  // _____________________
  .footer__btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  
    height: 50px;
    width: 200px;
    gap: 12px;
  
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    color: var(--primary-bg-color);
    background-color: var(--link-color);

   @media screen and (min-width:1200px){
    gap: 10px;
  }}

  
  // ___________________
  .footer__icon {
    fill: #ffffff;
  }