.slogan {

    background-position:center;
    background-size: cover;
    max-width: 1600px;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var#C4C4C4;

                // Mobile screen
  background-image:linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url( ../img/phone/fon_s@1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  background-image:
  linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url( ..img/phone/fon_s@2x.jpg);}


@media screen and (min-width:481) {                                    
    background-image:
    linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url( ../img/tablet/fon_m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
    linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url( ../img/tablet/fon_m@2x.jpg);}}


             // Tablet screen     
@media screen and (min-width:769px) {                           
    background-image:
    linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url( ../img/desktop/fon@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
    linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../img/desktop/fon_l@2x.jpg);}}
      

@media screen and (min-width:1200px) {   
  padding-top: 200px;
  padding-bottom:  200px;   
}}


  .slogan__title {
    width: 360px;
    font-weight: 900;
font-size: 26px;
line-height: 1.61;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: auto;
margin-bottom: 30px;
color: var(--primary-bg-color);

    @media screen and (min-width:1200px){
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
     }
  }
  
  .btn-service {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: block;
    margin: auto;
  
    color: var(--primary-bg-color);
    background: var(--link-color);
  
    @extend %transition;

    @media screen and (min-width:1200px){
    min-width: 216px;}
  }
  
  .btn-service{
    &:focus,
    &:hover,
    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }}

